/* Callie Shrum, 10/13/2025 */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #464e47;
    margin: 0px;
}

nav {
    background-color: #568259;
    box-shadow: 0px 5px 10px -5px #464e47;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
    border-left: 1px solid #96E6B3;
}

nav ul li:last-child {
    border-right: 1px solid #96E6B3;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    display: block;
}

nav ul li a:link {
    color: #CCFCCB;
}

nav li a:visited {
    color: #CCFCCB;
}

nav li a.active {
    background-color: #96E6B3;
    color: #568259;
    box-shadow: 0px 1px 5px #568259 inset;
}

nav li a:hover {
    background-color: #CCFCCB;
    color: #568259;
    box-shadow: 0px 0px 5px #568259 inset;
}

#wrapper {
    width: 75%;
    margin: 0px auto;
    background-color: #F1FFFA;
    box-shadow: 0px 0px 20px #252525;
    min-width: 360px;
}

header {
    text-align: center;
    font-family: helvetica, sans-serif;
    height: 85vh;
    padding: 0% 0px;
    background-color: #CCFCCB;
    color: #F1FFFA;
}

#homeHeader {
    text-align: center;
    font-family: helvetica, sans-serif;
    height: 85vh;
    padding: 0% 0px;
    background-image: url(images/SunFrank.jpeg);
    background-color: #CCFCCB;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 40px #333 inset;
    color: #F1FFFA;
    display: flex;
    flex-direction: column;
}

.socialsBanner {
    display: flex;
    background-color: #CCFCCB99;
    margin: 2% 0 7% auto;
    height: 5%;
    width: 40%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1%;
    box-shadow: -5px 5px 20px -5px #333, -10px 0 10px -5px inset #6d876c;
}

.socialsBanner div {
    margin: 7px;
    align-items: center;
    height: 20px;
    width: 20px;
}


.socialsBanner img {
    max-height: 100%;
    max-width: 100%;
}

#banner {
    margin-right: auto;
    margin: auto auto 5% 0;
    background-color: #ff9f68cc;
    width: 85%;
    box-shadow: 5px 5px 20px -5px #333, 10px 0 10px -5px inset #ac6b46;
}

header h1{
    font-size: 7vw;
    padding: 10px 5% 0 20%;
    margin: 0;
}

header h2 {
    font-weight: normal;
    font-size: 2.5vw;
    padding: 10px 5% 10px 20%;
    margin: 0;
}

.pop1 {
    color: #568259;
}

main {
    margin: 5% 0;
}

main h1 {
    background-color: #568259;
    padding: 10px 0 10px 5%;
    margin: 0 0 5% 0;
    width: 60%;
    color: #CCFCCB;
    box-shadow: 5px 0px 10px -5px #464e47 inset, 5px 5px 20px -5px #464e47;
}

.align {
    display: flex;
    align-items: center;
    margin: 2% 0;
}

.text {
    width: 66%;
}

#portrait {
    min-width: 150px;
    max-height: 100%;
    max-width: 33%;
    align-self: center;
    float: right;
    border-radius: 25px;
    box-shadow: -10px -10px #FF9F68;
    margin: 0 5% 2% 5%;
}

main h2 {
    padding: 0 5%;
}

main p {
    padding: 0 5%;
    line-height: 1.5em;
}

#portrait2 {
    min-width: 150px;
    max-height: 100%;
    max-width: 33%;
    align-self: center;
    float: left;
    border-radius: 25px;
    box-shadow: -10px -10px #FF9F68;
    margin: 0 5% 2% 5%;
}

footer {
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
    background-color: #568259;
    color: #96E6B3;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 5px 10px -5px #333 inset
}

@media screen and (min-width: 1024px) {
    #homeHeader {
        background-attachment: fixed;
        flex-direction: row;
    }

    .socialsBanner {
        margin: auto 0 2% 0;
        width: 20%;
    }

    #banner {
        width: 65%;
    }

    header h1 {
        font-size: 4vw;
    }

    header h2 {
        font-size: 1.5vw;
    }
}